node_modules/
__generated__

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editors and IDEs
.idea
graphql-let.iml
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
.DS_Store
dist
*.tgz
a.js

test/**/*.graphql.d.ts
test/**/*.graphqls.d.ts
.__fixtures
.__fixtures__
